<h1>Show</h1>

<h3><%= @task.title %></h3>
<p><%= @task.details %></p>

<% if @task.completed %>
  <p>It's done!</p>
<% else  %>
  <p>What are you waiting for?</p>
<% end %>

<%= button_to "Back to list", tasks_path, method: 'get' %>
<%= button_to "Modify task", edit_task_path, method: 'get' %>
<%= button_to "Destroy task", destroy_task_path, method: 'delete', data: { confirm: "ARE YOU SURE?" } %>
